@import './variables.scss';
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: $bg;
  color: $font;
  border:$border;
}

.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity 0.3s ease;
}

.page-fade-enter-from,
.page-fade-leave-to {
  opacity: 0;
}

.debug [data-starport-craft] {
  background: #0805;
}
.debug [data-starport-proxy]:not([data-starport-landed]) {
  background: #8005;
}
.dark {
  background: #282c34;
  border-bottom: 1px solid rgba(197, 188, 188);
  color: white;
}

header {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 7vw;
    font-weight: 100;

    @media (max-width: 768px) {
      font-size: 11vw;
    }
  }

  .input-wrap {
    input {
      width: 50vw;
      border: none;


      padding: 5px;
      font-size: 18px;


      &:focus {
        outline: none;
        border-bottom: 1px solid $border;
      }

      &::placeholder {
        color: rgba($color: $font, $alpha:0.6)
      }
    }
  }
}
::-webkit-scrollbar {
  width: 5px;
  background: $bg;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.definitions {
  border: 10px solid $border;
  border-radius: 10px;
  height: 65vh;
  padding: 15px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .tip {
    font-size: 18px;
  }

  .definition {
    margin-bottom: 10px;

    .phonetics {
      margin-bottom: 10px;

      .phonetic {
        cursor: pointer;
        border-radius: 5px;

        margin-right: 10px;

        &:hover {
          opacity: 0.8;
        }
      }

      .iconfont {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &:last-child {
      .meanings {
        border-bottom: none;
      }
    }

    .meanings {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $border;

      div.meaning {
        .partOfSpeech {
          margin-right: 10px;
          background-color: #3b3e45;
          opacity: 0.8;
          display: inline-block;
          padding-block: 3px;
          padding-inline: 5px;
          font-size: 14px;
          border-radius: 5px;
          line-height: 25px;
        }

        .word-meaning {
          line-height: 25px;
        }
      }
    }
  }
}